
<div class="row">
    <div class="col">
        <iframe title="dashboard transacciones atípicas - Página 1" width="800" height="636" src="https://app.powerbi.com/view?r=eyJrIjoiYzZhMDdlMTktM2NjNS00NmZlLWFhZjktNTI5YjE1NjM1MjBhIiwidCI6IjBlMGNiMDYwLTA5YWQtNDlmNS1hMDA1LTY4YjliNDlhYTFmNiIsImMiOjR9" frameborder="0">
        </iframe>
    </div>
</div>
<div class="row text-primary">
    <div class="col-12 mt-5 mr-5 text-end fs-2">
    <p>
      Porcentaje de precisión de IA ML: {{resultIa.accuracyscore}}
    </p>
    </div>
    <div class="col-12 mt-5 mr-5 text-end fs-2">
      <p>
        Rendimiento del modelo de IA ML: {{resultIa.rocaucscore}}
      </p>
    </div>
  </div>
